[submodule "library/charm"]
	path = library/charm
	url = https://github.com/kittykatattack/charm
[submodule "library/pixiDust"]
	path = library/pixiDust
	url = https://github.com/kittykatattack/pixiDust
[submodule "library/spriteUtilities"]
	path = library/spriteUtilities
	url = https://github.com/kittykatattack/spriteUtilities
[submodule "library/keyboard"]
	path = library/keyboard
	url = https://github.com/kittykatattack/keyboard
[submodule "library/scaleToWindow"]
	path = library/scaleToWindow
	url = https://github.com/kittykatattack/scaleToWindow
[submodule "library/hitTestRectangle"]
	path = library/hitTestRectangle
	url = https://github.com/kittykatattack/hitTestRectangle
[submodule "library/plugins/pixi.js"]
	path = library/plugins/pixi.js
	url = https://github.com/pixijs/pixi.js
