[submodule "library/charm"]
	path = library/charm
	url = https://github.com/kittykatattack/charm
[submodule "library/spriteUtilities"]
	path = library/spriteUtilities
	url = https://github.com/kittykatattack/spriteUtilities
[submodule "library/keyboard"]
	path = library/keyboard
	url = https://github.com/kittykatattack/keyboard
[submodule "library/scaleToWindow"]
	path = library/scaleToWindow
	url = https://github.com/kittykatattack/scaleToWindow
[submodule "library/hitTestRectangle"]
	path = library/hitTestRectangle
	url = https://github.com/kittykatattack/hitTestRectangle
[submodule "library/plugins/pixi.js"]
	path = library/plugins/pixi.js
	url = https://github.com/pixijs/pixi.js
[submodule "library/tink"]
	path = library/tink
  url = https://github.com/kittykatattack/tink
[submodule "library/bump"]
  path = library/bump
	url = git@github.com:kittykatattack/bump.git
  
[submodule "library/contain"]
	path = library/contain
	url = https://github.com/kittykatattack/contain
